<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8″>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <title>HighLands Coffee @ViewBag.Title</title>
    <link href="~/Content/StyleTrangChu.css" rel="stylesheet" />

    <link href="~/Content/StyleThucDon.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    @*<link href="~/Content/bootstrap-theme - Higland.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme - Higland-font.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme - Higland-fancybox.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme - Higland-jquery.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme - Higland-slick.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme - Higland-skins.css" rel="stylesheet" />*@

    <link href="https://www.highlandscoffee.com.vn/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/skins/default/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/jquery_alerts/jquery.alerts.css" rel="stylesheet" type="text/css">
    <link href="https://www.highlandscoffee.com.vn/js/slick/slick.css" type="text/css" rel="stylesheet">
    <link href="https://www.highlandscoffee.com.vn/js/menumobile/menumobile.css" type="text/css" rel="stylesheet">
    <link href="https://www.highlandscoffee.com.vn/skins/default/style/screen.css?v=1.0" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<body>
    <div id="vnt-wrapper">
        <div id="vnt-container">
            <div id="vnt-header">
                <div class="wrapper">
                    <div class="logo">
                        <a onmousedown="return rwt(this,'advertise',131)" href="" target="_blank" title="">
                            <img src="~/Content/img/Logo.png" alt="">
                        </a>
                    </div>

                    <div class="header-tool">
                        <div class="rowTools">
                            <div class="searchTop hidden-sm hiđen-xs">
                                <form id="formSearch" name="formSearch" method="post" action="#" onsubmit="return check_search(this);" class="box_search">
                                    <input name="keyword" id="keyword" type="text" class="text_search" placeholder="Từ khóa" value="">
                                    <button name="btn-search" type="submit" value=""><img src="https://www.highlandscoffee.com.vn/skins/default/images/i-search.svg" alt="search"></button>
                                    <input name="do_search" value="1" type="hidden">
                                </form>
                            </div>

                            <div class="languageTop">
                                <ul>
                                    <li>
                                        <a href="#"><img src="https://www.highlandscoffee.com.vn/vnt_upload/lang/flag-vn.jpg" alt="VN"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="https://www.highlandscoffee.com.vn/vnt_upload/lang/flag-en.jpg" alt="EN"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="menuTop hidden-sm hidden-xs">
                            <ul>
                                <li class="menu-list"><a href="~/Views/TrangChu/QuanCF.cshtml" target="_self"><span>QUÁN CÀ PHÊ</span></a></li>

                                <li>
                                    <a href="~/Views/TrangChu/ThucDon.cshtml" target="_self"><span>THỰC ĐƠN</span></a>
                                    <div class="menuMega">
                                        <div class="wrapper">
                                            <div class="grid">
                                                <div class="col1">
                                                    <ul>
                                                        <li>
                                                            <a href="#">CÀ PHÊ</a>
                                                            <ul>
                                                                <li><a href="#">Cà Phê Phin</a></li>
                                                                <li><a href="#">PhinDi</a></li>
                                                                <li><a href="#">Cà Phê Espresso</a></li>
                                                            </ul>
                                                        </li>

                                                        <li>
                                                            <a href="#">FREEZE</a>
                                                            <ul>
                                                                <li><a href="#">Freeze Cà Phê Phin</a></li>
                                                                <li><a href="#">Freeze Không Cà Phê</a></li>
                                                            </ul>
                                                        </li>

                                                        <li>
                                                            <a href="#">TRÀ</a>
                                                            <ul>
                                                                <li><a href="#">Trà Sen vàng Mới</a></li>
                                                                <li><a href="#">Trà Thạch Đào</a></li>
                                                                <li><a href="#">Trà Thanh Đào</a></li>
                                                                <li><a href="#">Trà Vải</a></li>
                                                                <li><a href="#">Trà Nhiệt Đới</a></li>
                                                            </ul>
                                                        </li>

                                                        <li>
                                                            <a href="#">KHÁC</a>
                                                            <ul>
                                                                <li><a href="#">Bánh Ngọt</a></li>
                                                                <li><a href="#">Merchandise</a></li>
                                                                <li><a href="#">Cà Phê Đóng Gói</a></li>
                                                                <li><a href="#">Thực Đơn Giao Hàng</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col2">
                                                    <div class="bannerMenu">
                                                        <div class="txt">
                                                            <a href="#">Phin Sữa Đá Đậm Đà Chất Phin! 29.000đ</a>
                                                        </div>
                                                        <div class="img">
                                                            <a href="#">
                                                                <img src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/BrandFresh/Product/PHIN_SUA_DA_5.1.png" alt="Phin Sữa Đá Đậm Đà Chất Phin! 29.000đ">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="menu-list"><a href="#" target="_self"><span>TIN TỨC</span></a></li>

                                <li class="menu-list"><a href="#" target="_self"><span>CỘNG ĐỒNG</span></a></li>

                                <li class="menu-mega">
                                    <a href="#" target="_self"><span>VỀ CHÚNG TÔI</span></a>
                                    <div class="menuMega">
                                        <div class="wrapper">
                                            <div class="gird">
                                                <div class="col1">
                                                    <ul>
                                                        <li><a href="#">NGUỒN GỐC</a></li>
                                                        <li><a href="#">DỊCH VỤ</a></li>
                                                        <li><a href="#">NGHỀ NGHIỆP</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col2">
                                                    <div class="bannerMenu">
                                                        <div class="txt">
                                                            <a href="#">Thương hiệu bắt nguồn từ cà phê Việt!</a>
                                                        </div>
                                                        <div class="img">
                                                            <a href="#">
                                                                <img src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/ABOUT-ORIGIN.png" alt="Thương hiệu bắt nguồn từ cà phê Việt!">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="menu-list"><a href="#" target="_blank"><span>NGHỀ NGHIỆP</span></a></li>

                                <li class="menu-list"><a href="#" target="_blank"><span>MUA NGAY</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div id="content">
                @RenderBody()
            </div>

            <div id="vnt-footer">
                <div class="wrapper">
                    <div class="vnt-button hidden-lg hidden-md">
                        <div class="button-wrap">
                            <div class="buttons">
                                <a href="tel:(028) 2.448.907" class="btn-mm"><span class="fa-phone">Call now</span></a>
                            </div>
                            <div class="buttons">
                                <a href="https://www.highlandscoffee.com.vn/vn/he-thong-cua-hang.html" class="btn-mm"><span class="fa-map-marker">VIEW MAP</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="socialFoot">
                        <ul>
                            <li><a href="https://www.facebook.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCHEqa2uTf8uXrGWrnU3ThgA" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="copyRight">© 2018 Highlands Coffee. All rights reserved</div>
                    <div class="linkFooter"><a href="javascript:void(0)" onclick="popupMaillist()"><span class="fa-paper-plane-o">Đăng ký để nhận bản tin</span></a></div>
                    <div class="linkFooter mb"><a href="mailto:customerservice@highlandscoffee.com.vn"><span class="fa-envelope-o">customerservice@highlandscoffee.com.vn</span></a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>