
@{
    ViewBag.Title = "ThucDon";
    Layout = "~/Views/Shared/_TrangChu.cshtml";
}

<div class="block-category">
    <div class="menu" style=" color: #faebd7; border-color: #faebd7; background-color: #fbedd7; background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-PSD-bg.jpg) ">
        <div class="imgWrap">
            <div class="wrapper">
                <div class="imgCat lazy-start fadeIn" style="margin-top: 12px; margin-left:600px; animation-delay: 0.6s;" data-eff="fadeIn" data-delay="0.6"><a href="#"><img src="~/Content/img/PHIN_SUA_DA_5.1.png" alt="CÀ PHÊ"></a></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="caption">
                <div class="tend lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.3" style="animation-delay: 0.3s;"><h3><a href="#">CÀ PHÊ</a></h3></div>
                <div class="des lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.5" style="animation-delay: 0.5s;"><span style="font-family:Roboto,sans-serif;"><span style="color:#faebd7;">Sự kết hợp hoàn hảo giữa hạt cà phê Robusta &amp; Arabica thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ, qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và tinh tế.</span></span></div>
                <div class="link lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.7" style="animation-delay: 0.7s;"><a href="#"><span>Khám phá thêm</span></a></div>
            </div>
        </div>
    </div>

    <div class="menu" style=" color: #006400; border-color: #006400; background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-FREEZE.jpg);">
        <div class="imgWrap">
            <div class="wrapper">
                <div class="imgCat lazy-start fadeIn" style="margin-top: -10px; animation-delay: 0.6s;" data-eff="fadeIn" data-delay="0.6"><a href="#"><img src="~/Content/img/FREEZE-TRA-XANH-5.1.png" alt="FREEZE"></a></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="caption" style="margin-left:600px">
                <div class="tend lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.3" style="animation-delay: 0.3s;"><h3><a href="#">FREEZE</a></h3></div>
                <div class="des lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.5" style="animation-delay: 0.5s;"><span style="font-family:Roboto,sans-serif;"><span style="color:#006400;">Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức uống đá xay mát lạnh được pha chế từ những nguyên liệu thuần túy của Việt Nam.</span></span></div>
                <div class="link lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.7" style="animation-delay: 0.7s;"><a href="#"><span>Khám phá thêm</span></a></div>
            </div>
        </div>
    </div>

    <div class="menu" style=" color: #ffffff; border-color: #ffffff; background-image: url(https://www.highlandscoffee.com.vn/vnt_upload/product/11_2022/Banner/Product_Tra_BG_Web_Banner.jpg); ">
        <div class="imgWrap">
            <div class="wrapper">
                <div class="imgCat lazy-start fadeIn" style="margin-top: -10px; margin-left: 600px; animation-delay: 0.6s;" data-eff="fadeIn" data-delay="0.6"><a href="#"><img src="~/Content/img/TRA-SEN-VANG-CN-5.1.png" alt="TRÀ"></a></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="caption">
                <div class="tend lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.3" style="animation-delay: 0.3s;"><h3><a href="#">TRÀ</a></h3></div>
                <div class="des lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.5" style="animation-delay: 0.5s;"><p><span style="font-family:Roboto,sans-serif;">Hương vị tự nhiên, thơm ngon của Trà Việt với&nbsp;phong cách hiện đại tại&nbsp;Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và tận hưởng một cảm giác thật khoan khoái, tươi mới.</span></p></div>
                <div class="link lazy-start fadeInUp" data-eff="fadeInUp" data-delay="0.7" style="animation-delay: 0.7s;"><a href="#"><span>Khám phá thêm</span></a></div>
            </div>
        </div>
    </div>
</div>



